{
  "headline": "My First Article",
  "content": "This is the content",
  "images": [
    "a4c373e7-a8b2-40fb-8895-0bfe3cf41e42"
  ],
  "media": [
    "32895630-f5e5-43ff-ac6c-a6eb4a28db84",
    "d2ec6df3-7cdc-4612-bf87-f5e3ef0e9cb0"
  ],
  "audio": [
  ]
}
